.LoginContainter{
    width: 101%;
    margin-left: -0.5%;
    margin-top: -0.5%;
    display: flex;
   
}

.LoginImg{
    width: 65%;
    background-color: blue;
}

.LoginForm{
    width: 35%;
    
}

.LoginFormat{
    display: flex;
    justify-content: center;
}

.LoginInput{
    width: 60%;
}
